@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #246E74;
    background-color: opacity ;
    color: whitesmoke;
    font-family: 'Roboto';
    overflow-y: scroll;
}


/* Header styling */
header {
    height: 40vh;
    width: 100vw;
    border: 2px solid red;
    background-image: url('./assets/header-background.jpg');
    background-position-y: -1000px;
    background-attachment: fixed;
    position: relative;
}

header nav {
    display: flex;
    border: 2px solid limegreen;
    height: 30%;
    justify-content: space-between;
    align-items: center;
    background-color: #246E74;
}

header nav ul {
    display: flex;
    list-style: none;
    border: 2px solid purple;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;

}

header nav ul li {
    border-bottom: 4px solid #44bcd8;
    padding: 5px 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #44bcd8;
    font-size: 1.5rem;
    
}

header nav h1 {
    height: 80%;
    width: 20%;
    background-color: #44bcd8;
    color: #444444;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}



.subtitle {
    position: absolute;
    bottom: 5%;
    right: 5%; 
    border: 2px solid yellow;
    background-color: #44bcd8;
    color: #444444;
    font-size: 1.8rem;
}

/* About me Section */

.section {
    
    height: 30vh;
    border: 4px solid black;
    
    display: flex;
    width: 100vw;
    justify-content: flex-start;

}

.section-header {
    padding-right: 1%;
    border-right: 4px solid black;
    font-size: 3rem;
    height: 70%;
    text-align: right;
    width: 20%;
    /* border: 2px solid blue; */
    
}

#about-me p {
    font-size: 1.5rem;
    padding-left: 2%;
    width: 80%;
    border: 2px solid red;
}

/* Work Section */

.featured-project {
    
    width: 1600px;
    height: 600px;
    
}

.featured-project a {
    height: 100%;
    width: 100%;
    display: block;
    background-image:url('./assets/run-buddy-pic.jpg');
    background-position-y: 600px;
    background-size: cover;
}

.featured-project div {
    background-color: #76b5c5;
    width: 15%;
    height: 10%;
    text-align: center;
    margin-top: 32%;
    margin-right: 5%;
    
}

.featured-project a {
    text-decoration: none;
}

.featured-project div h3 {
    font-size: 1.5rem;
 }
 
 .featured-project div p {
     font-size: 1.2rem;
 } 



.projects {
    border: 2px solid lime;
    width: 80%;
    height: 90%;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.project-item div {
    border: 2px solid red;
    margin-top: 12%;
    margin-right: 5%;
}

#work {
    height: 100vh;
}

.project-item {
    border: 2px solid red;
    height: 180px;
    width: 745px;
    
    /* position: relative; */
    
    
}

.project-item-1 {
    background-image: url(./assets/led-pic.jpg);
    background-size: cover;
    background-position-y: center;
}

.project-item-2 {
    background-image: url('./assets/calculator-image.jpg');
    background-size: cover;
}

.project-item-3 {
    background-image: url(./assets/puzzle-pic.jpg);
    background-size: cover;
}

.project-item-4 {
    background-image: url(./assets/surf-pic.jpg);
    background-size: cover;
    background-position-y: center;
}

.project-item a {
    /* background-image:url('./assets/run-buddy-pic.jpg'); */
    background-position-y: 600px;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: block;
    text-decoration: none;
}

.project-item div {
    background-color: #76b5c5;
    width: 30%;
    height: 35%;
    /* position: absolute; */
    text-align: center;
    
    
}

.project-item div h3 {
   font-size: 1.5rem;
}

.project-item div p {
    font-size: 1.2rem;
} 

/* Footer Styling */

footer {
    height: 15vh;
    width: 100vw;
    border: 4px solid black;
    padding: 3% 10%;
    display: flex;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 60%;
    
}

footer ul li {
    border-bottom: 4px solid turquoise;
    padding: 5px 10px;
}

footer ul li a {
    text-decoration: none;
    color: turquoise;
    font-size: 1.5rem;
}


.featured-project:hover {
    opacity: 75%;
    box-shadow: .5px .5px;
}

.project-item:hover {
    opacity: 75%;
    box-shadow: .5px .5px;
}

header nav ul li a:hover {
    /* border: 20px 0 solid limegreen;
    font-display: bold;
    height: 100%;
    padding: 5px 10px;
    border-top: 50px solid limegreen; */
}

.about-me:hover {
    border: 20px 0 solid limegreen;
    font-display: bold;
    height: 100%;
    padding: 5px 10px;
    font-size:30px;
    font-weight: bold;
    
}

.work:hover {
    border: 20px 0 solid limegreen;
    font-display: bold;
    height: 100%;
    padding: 5px 10px;
    font-size:30px;
    font-weight: bold;

}

.contact-me:hover {
    border: 20px 0 solid limegreen;
    font-display: bold;
    height: 100%;
    padding: 5px 10px;
    font-size:30px;
    font-weight: bold;

}

.resume:hover {
    border: 20px 0 solid limegreen;
    font-display: bold;
    height: 100%;
    padding: 5px 10px;
    font-size:30px;
    font-weight: bold;
}