@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #444444;
    color: whitesmoke;
    font-family: 'Roboto';
}


/* Header styling */
header {
    height: 40vh;
    width: 100vw;
    border: 2px solid red;
    background-image: url('./assets/header-background.jpg');
    background-position-y: -1000px;
    background-attachment: fixed;
    position: relative;
}

header nav {
    display: flex;
    border: 2px solid limegreen;
    height: 30%;
    justify-content: space-between;
    align-items: center;
    background-color: #444444;
}

header nav ul {
    display: flex;
    list-style: none;
    border: 2px solid purple;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;

}

header nav ul li {
    border-bottom: 4px solid turquoise;
    padding: 5px 10px;
}

header nav ul li a {
    text-decoration: none;
    color: turquoise;
    font-size: 1.5rem;
    
}

header nav h1 {
    height: 80%;
    width: 20%;
    background-color: turquoise;
    color: #444444;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}



.subtitle {
    position: absolute;
    bottom: 5%;
    right: 5%; 
    border: 2px solid yellow;
    background-color: turquoise;
    color: #444444;
    font-size: 1.8rem;
}

/* About me Section */

.section {
    
    height: 30vh;
    border: 4px solid black;
    padding: 3% 10%;
    display: flex;

}

.section-header {
    padding-right: 1%;
    border-right: 4px solid black;
    font-size: 3rem;
    height: 70%;
    text-align: right;
}

#about-me p {
    font-size: 1.5rem;
    padding-left: 2%;
}

/* Work Section */

.featured-project {
    background-image:url('./assets/run-buddy-pic.jpg');
    width: 100%;
    height: 50%;
    background-position-y: 600px;
    background-size: cover;
}

.projects {
    border: 2px solid red;
    width: 80%;
    height: 90%;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#work {
    height: 100vh;
}

.project-item {
    border: 2px solid red;
    height: 15%;
    width: 48%;
    
}

.feature-projects li a {
    height: 100%;
    width: 100%;
}

/* Footer Styling */

footer {
    height: 15vh;
    width: 100vw;
    border: 4px solid black;
    padding: 3% 10%;
    display: flex;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 60%;
    
}

footer ul li {
    border-bottom: 4px solid turquoise;
    padding: 5px 10px;
}

footer ul li a {
    text-decoration: none;
    color: turquoise;
    font-size: 1.5rem;
}

