@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
/*Body and page style*/
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #4f8ee0;
}

/* Header */
header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #5532d6;
    background-image: url(./assets/moutain-pic.jpg);
    background-position-x: ;
    background-position-y: 55%;
    background-size: cover;
}

header h1, header h2, .featured-project div  {
    color: whitesmoke;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;

}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 5rem;

}

nav h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    height: max-content;
    padding: 10px;
    color: white;
    padding-left: 100px;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    color: white;
    background-color: #444444;
    padding: 10px;
}

.subtitle {
    position: absolute;
    bottom: 2%;
    right: 20%;
}

/* Work/hero section */
section {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

section h1 {
    width: 15%;
    text-align: right;
    height: max-content;
    padding-right: 20px;
}

section p {
    width: 70%;
    padding: 20px 0;
    padding-left: 10px;
}

section ul {
    padding-left: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    border-left: 2px solid black;
}

#about-me p {
    border-left: 2px solid black;
}

/* Individual Projects */
.featured-project {
    width: 100%;
    height: 20rem;
    background-image: url(./assets/run-buddy-pic.jpg);
    background-position-x: 55%;
    background-position-y: 75%;
    position: relative;
    
}

.featured-project a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-style: none;
    position: absolute;
}

.project-item {
    width: 49%;
    height: 5rem;
    margin-top: 10px;
}

.project-item a {
   text-decoration: none;
}

.project-item a div h3, .project-item a div p, .featured-project a {
    color: whitesmoke;
}

.project-item-1 {
    background-image: url(./assets/led-pic.jpg);
    background-position-x: 65%;
    background-position-y: center;
    background-size: cover;
}

.project-item-2 {
    background-image: url(./assets/calculator-image.jpg);
    background-position-x: 65%;
    background-position-y: center;
    background-size: cover;
}

.project-item-3 {
    background-image: url(./assets/puzzle-pic.jpg);
    background-position-x: 65%;
    background-position-y: center;
    background-size: cover;
}

.project-item-4 {
    background-image: url(./assets/surf-pic.jpg);
    background-position-x: 65%;
    background-position-y: center;
    background-size: cover;
}


/* Footer */
footer {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: #5532d6}

footer h1 {
    font-size: 1.25rem;
    color: white;
    width: 15%;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 85%;
    justify-content: center;
}

footer ul li {
    margin: 0px 5px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

/* Hover pscuedo classes */
.nav-bar li a:hover {
    font-display: bold;
    height: 100%;
    padding: 5px 10px;
    font-size:25px;
    font-weight: bold;
} 


.featured-project:hover {
    font-display: bold;
    font-weight: bold;
    opacity: 80%;
}
.project-item-1:hover {
    font-display: bold;
    font-weight: bold;
    opacity: 80%;
}

.project-item-2:hover {
    font-display: bold;
    font-weight: bold;
    opacity: 80%;
}

.project-item-3:hover {
    font-display: bold;
    font-weight: bold;
    opacity: 80%;
}

.project-item-4:hover {
    font-display: bold;
    font-weight: bold;
    opacity: 80%;
}

#contact-me ul li a:hover {
    font-display: bold;
    height: 100%;
    padding: 5px 10px;
    font-size:20px;
    font-weight: bold;

}

/* Media Queries */
@media only screen and (max-width: 800px) {

    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        margin: 0;
    }

    header nav li a {
        margin: 0;
        font-size: .75rem;
    }

    header h1 {
        padding: 10px;
    }

    .subtitle {
        position: relative;
        margin: 0;
        left: 0;
        width: 100%;
    }

    .subtitle h2 {
        text-align: center;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    section h1, section p {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    section p, section ul {
        border-left: none;
        padding: 0;
    }

    .project-item {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

    footer h1 {
        width: 100%;
        height: 50%;
        font-size: 1rem;
        text-align: center;
    }
    footer ul {
        height: 50%;
    }
    footer a {
        width: 100%;
        font-size: .6rem;
        text-align: center;
        width: max-content;
    }

}





